<module>
	<rawname>callsreport</rawname>
	<name>Calls Report</name>
	<version>0.1.0.0</version>
	<candisable>yes</candisable>
	<publisher>Gnovit.com.</publisher>
	<canuninstall>yes</canuninstall>
	<changelog>
		*0.0.0.1* (beta)
	</changelog>
	<description>
		Módulo de relatórios de chamadas
	</description>
	<attention>
	</attention>
	<category>Reports</category>
	<menuitems>
		<callsreport>Calls Report</callsreport>
	</menuitems>
</module>

